<!DOCTYPE html>
<html>
<head>
  <title>SMART Apps</title>
  <meta charset='utf-8'/>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'smart_apps' %>
</head>
<body>
  <ul>
  <% apps.each do |app| %>
    <li>
      <a href=<%= "#{app_path(ehr_source_id, app.app_id)}?#{query_string}" %>>
        <p class='app_name'><%= app.name %></p>
      </a>
    </li>
  <% end %>
  </ul>
</body>
</html>
