* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0px;
}

ul {
    list-style-type: none;
}

li {
    height: 85px;
}

li:nth-child(odd) {
    background: LightGray;
}

a {
    color: inherit;
    display: block;
    height: 75px;
    padding: 5px;
    text-decoration: none;
}

img {
    display: block;
    float: left;
    height: 75px;
    width: 75px;
    margin-left: 15px;
}

p {
    margin-left: 95px;
}

p.app_name {
    font-size: larger;
    margin-top: 16px;
}